@page
@model Vocas.Pages.GroupModel
@{
}
<div class="w-screen">
    @if (Model.GroupInfo == null)
    {
        <div class="flex justify-between flex-wrap">
            @foreach (var group in Model.UserGroups)
            {
                <div class="flex m-[10px] p-[20px] rounded-lg bg-slate-300 h-min">
                    <table>
                        @{
                            bool even = false;
                        }
                        @foreach (var user in group.Users)
                        {
                            @if (user.UserId == Model.currentUserId)
                            {
                                <tc>@user.Username [you]</tc>
                            }
                            else
                            {
                                <tc>@user.Username</tc>
                            }
                            if (even)
                            {
                                <tr></tr>
                            }
                            even = !even;
                        }
                    </table>
                    @* <div class="m-[5px]">
                        @if (group.Users[1].UserId != Model.currentUserId)
                        {
                            <p class="flex-none">@group.Users[1].Username</p>
                        }
                        else
                        {
                            <p class="flex-none">@group.Users[1].Username [you]</p>
                        }
                        @if (group.Users[3] != null)
                        {
                            @if (group.Users[3].UserId != Model.currentUserId)
                            {
                                <p class="flex-none">@group.User3.Username</p>
                            }
                            else
                            {
                                <p class="flex-none">@group.User3.Username [you]</p>
                            }
                        }
                    </div>
                    <div class="m-[5px]">
                        @if (group.User2.UserId != Model.currentUserId)
                        {
                            <p class="flex-none">@group.User2.Username</p>
                        }
                        else
                        {
                            <p class="flex-none">@group.User2.Username [you]</p>
                        }
                        @if (group.User4 != null)
                        {
                            @if (group.User4.UserId != Model.currentUserId)
                            {
                                <p class="flex-none">@group.User4.Username</p>
                            }
                            else
                            {
                                <p class="flex-none">@group.User4.Username [you]</p>
                            }
                        }
                    </div> *@
                    <div class="m-[5px]">
                        <p class="flex-none align-middle p-[5px] m-[5px] mt-[0px] rounded-lg bg-slate-100"><a asp-page="" asp-route-id="@group.GroupId"> Go to group page</a></p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="m-[10px] p-[20px]">
            <div class="p-[20px] rounded-lg bg-slate-300 h-min w-min">
                <p class="font-bold">Users:</p>
                @foreach (var user in Model.GroupInfo.Users)
                {
                    <p>@user.Username</p>
                }
            </div>
            @if(Model.GroupCount < 4)
            {
                <form class="mt-[10px] p-[20px] rounded-lg bg-slate-300 h-min w-min">
                    <p>Enter the username of the user you want to add</p>
                    <input class="rounded-lg" type="text" name="newUser" /><p></p>
                    <input type="hidden" name="id" value="@Model.GroupInfo.GroupId" />
                    <button class="flex-none align-middle p-[5px] m-[5px] mt-[0px] rounded-lg bg-slate-100">add user</button>
                </form>
            }
        </div>
    }
</div>